.jumbotron {
  padding: 0px;
  display: flex;
  align-items: center;
  background-image: url('https://static.pexels.com/photos/34587/pexels-photo.jpg');
  background-size: cover;
  color: #ffffff;
  height: 600px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.hidden {
  display: none;
}

.unhidden {
  display: block;
}
